<h1>Batches:</h1>



<ul>
<% @batches.each do |batch| %>
  <li>
    <%= link_to "Batch##{batch.number} - #{batch.city}", batch_path(batch) %> - Tot days: <%= batch.days.count %>
  </li>
<% end %>
</ul>
